*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.pryrc
.DS_Store
.idea
.rvmrc
public/system
public/uploads
public/bwn-image/
vendor/cache/
*.sublime*
vendor/cache
.env